{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block content %}
    <section class="cart section">
        <div class="wrapper">
            <h1>Shopping Cart</h1>
            <div class="project">
                <div class="shop">
                    {% set total = null %}
                    {% for product in cart %}
                        <div class="box">
                            <img src="{{ asset('uploads/' ~ product.product.illustrations[0].title) }}" alt="{{ product.product.title }}">
                            <div class="content">
                                <h3>{{ product.product.title }}</h3>
                                <h4>
                                    {{ (product.product.price * product.quantity) | number_format(2, '€', '.') }}
                                    <span>( {{ product.product.price | number_format(2, '€', '.') }} )</span>
                                </h4>
                                <div class="unit">
                                    <i class='bx bx-minus'></i>
                                    x {{ product.quantity }}
                                    <i class='bx bx-plus' ></i>
                                </div>
                                <div class="btn-area">
                                    <i class='bx bx-trash' ></i>
                                </div>
                            </div>
                        </div>
                        {% set total = total + ( product.product.price * product.quantity ) %}
                    {% endfor %}
                </div>
                <div class="right-bar">
                    <p><span>Nombre de produit(s):</span> <span>{{ cart | length }}</span></p>
                    <hr>
                    <p><span>Tax (5%)</span> <span>$6</span></p>
                    <hr>
                    <p><span>Shipping</span> <span>$15</span></p>
                    <hr>
                    <p><span>Total</span> <span>{{ total | number_format(2, '€', '.') }}</span></p><a href="#"><i class="fa fa-shopping-cart"></i>Checkout</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
