{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block content %}
    <section class="cart section">
        {% if cart | length > 0 %}
            <div class="cart__container">
                <h1>Votre panier</h1>
                <div class="cart__content">
                    <div class="cart__product">
                        {% set total = null %}
                        {% for product in cart %}
                            <div class="cart__product-box">
                                <img src="{{ asset('uploads/' ~ product.product.illustrations[0].title) }}" alt="{{ product.product.title }}">
                                <div class="cart__product-infos">
                                    <h3>{{ product.product.title }}</h3>
                                    <h4>
                                        {{ (product.product.price * product.quantity) | number_format(2, '€', '.') }}
                                        <span>( {{ product.product.price | number_format(2, '€', '.') }} )</span>
                                    </h4>
                                    <div class="cart__product-quantity">
                                        <a href="{{ path('cart_decrease', {id: product.product.id}) }}">
                                            <i class='bx bx-minus'></i>
                                        </a>
                                        <span>x {{ product.quantity }}</span>
                                        <a href="{{ path('cart_add', {id: product.product.id}) }}">
                                            <i class='bx bx-plus' ></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% set total = total + ( product.product.price * product.quantity ) %}
                        {% endfor %}
                    </div>
                    <div class="cart__recap">
                        {% set formHtml %}
                        {{ form_start(form, {action : path('order', {id: app.user.id})}) }}
                            <h3 class="cart__recap-title">Choisissez votre adresse de livraison</h3>
                            <a href="{{ path('account_address_add', {id: app.user.id}) }}" class="cart__recap-subtitle">
                                <i class='bx bx-plus'></i>
                                ajouter une adresse
                            </a>
                            {{ form_widget(form.addresses) }}
                            <h3 class="cart__recap-title">Choisissez votre transporteur</h3>
                            {{ form_widget(form.carriers) }}
                            <span class="cart__recap-split"></span>
                            <h3 class="cart__recap-number">{{ cart | length }} produit(s) dans le panier</h3>
                            <p class="cart__recap-subtotal"><span>Sous-total :</span> <span>{{ total | number_format(2, '€', '.') }}</span></p>
                            <a href="{{ path('product') }}" class="button">Continuer vos achat</a>
                            <button class="button button__bg">Valider votre panier</button>
                            {{ form_errors(form) }}
                        {{ form_end(form) }}
                        {% endset %}
                        {{ formHtml | replace({
                            '[span]' : '<span>',
                            '[span/]' : '<span/>',
                            '[br]' : '<br/>'
                        }) | raw }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="cart__container-empty">
                <h1>Votre panier est vide</h1>
                <a href="{{ path('product') }}" class="button">Retour aux produits</a>
            </div>
        {% endif %}
    </section>
{% endblock %}
