{% extends 'admin.html.twig' %}

{% block title %}Utilisateurs • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="account section" id="account">
        <h2 class="account__title">Les utilisateurs</h2>
        <a href="{{ path('admin') }}" class="account__back"><i class='bx bx-arrow-back'></i></a>
        <h3 class="account__subtitle">{{ app.user.firstname }}, c'est dans cet espace que vous allez pouvoir voir l'ensemble de vos utilisateurs.</h3>

        {{ form_start(form) }}
        <div class="form__inputs service__form-inputs">
            <div class="form__contents">
                <div class="form__content form__content-left">
                    {{ form_widget(form.mots) }}
                    {{ form_label(form.mots) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}

        <div class="account__order-container" id="account__order-complete">
            <ul class="account__table">
                <li class="account__table-header">
                    <div class="account__table-col account__table-userFirstname">Prénom</div>
                    <div class="account__table-col account__table-userLastname">Nom</div>
                    <div class="account__table-col account__table-userEmail">Adresse em@il</div>
                    <div class="account__table-col account__table-userButton"> </div>
                </li>
                {% for user in users %}
                    <li class="account__table-row">
                        <div class="account__table-col account__table-userFirstname" data-label="Prénom">
                        <span>
                            {{ user.firstname }}
                        </span>
                        </div>
                        <div class="account__table-col account__table-userLastname" data-label="Nom">
                        <span>
                            {{ user.lastname }}
                        </span>
                        </div>
                        <div class="account__table-col account__table-userEmail" data-label="Adresse em@il">
                        <span>
                            {{ user.email }}
                        </span>
                        </div>
                        <div class="account__table-col account__table-userButton" data-label=" ">
                            <a href="{{ path('admin_user_show', {id: user.id}) }}">
                                <i class='bx bx-search-alt'></i>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
