{% extends 'base.html.twig' %}

{% block title %}Votre compte • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="account section" id="account">
        <h2 class="account__title">Votre compte</h2>

        <div class="account__container-mobile grid">
            <a href="">
                <div class="account__box" style="background: url({{ asset('assets/img/account/order.jpg') }}) no-repeat center center; background-size: cover;">
                    <div class="account__link-mobile">
                        <span class="button button__white">VOIR LES COMMANDES</span>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="account__box" style="background: url({{ asset('assets/img/account/address.jpg') }}) no-repeat center center; background-size: cover;">
                    <div class="account__link-mobile">
                        <span class="button button__white">GÉRER LES ADRESSES</span>
                    </div>
                </div>
            </a>
            <a href="{{ path('account_password') }}">
                <div class="account__box" style="background: url({{ asset('assets/img/account/password.jpg') }}) no-repeat center center; background-size: cover;">
                    <div class="account__link-mobile">
                        <span class="button button__white">MODIFIER LE MOT DE PASSE</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="account__container grid">
            <div class="account__box" style="background: url({{ asset('assets/img/account/order.jpg') }}) no-repeat center center; background-size: cover;">
                <div class="account__link">
                    <a href="#" class="button button__white">VOIR LES COMMANDES</a>
                </div>
            </div>

            <div class="account__box" style="background: url({{ asset('assets/img/account/address.jpg') }}) no-repeat center center; background-size: cover;">
                <div class="account__link">
                    <a href="#" class="button button__white">GÉRER LES ADRESSES</a>
                </div>
            </div>

            <div class="account__box" style="background: url({{ asset('assets/img/account/password.jpg') }}) no-repeat center center; background-size: cover;">
                <div class="account__link">
                    <a href="{{ path('account_password') }}" class="button button__white">MODIFIER LE MOT DE PASSE</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
