{% extends 'base.html.twig' %}

{% block title %}L&A WoodFactory{% endblock %}

{% block content %}
    <!--===== HOME =====-->
    <section class="home" id="home">
        <div class="home__container grid">
            <div class="home__data">
                <h1 class="home__title">L&A <br> <span>WOODFACTORY</span></h1>
                <a href="#product__top" class="button">VOIR NOS PRODUITS</a>
            </div>

            <img src="{{ asset('assets/img/home.png') }}" alt="" class="home__img">
        </div>
    </section>

    <!--===== COLLECTION =====-->
    <section class="collection section">
        <div class="collection__container grid">
            <div class="collection__box" style="background: url({{ asset('assets/img/collection1.png') }}) no-repeat center center; background-size: cover;">
                <a href="{{ path('product') }}" class="collection__data">
                    <h2 class="collection__title"><span class="collection__subtitle">Produits</span><br> Meubles & co</h2>
                    <p class="collection__view">Notre boutique en ligne</p>
                </a>
            </div>

            <div class="collection__box collection__box2" style="background: url({{ asset('assets/img/collection2.png') }}) no-repeat center center; background-size: cover;">
                <a href="{{ path('service') }}" class="collection__data">
                    <h2 class="collection__title"><span class="collection__subtitle">Services</span><br> sur-mesure</h2>
                    <p class="collection__view">Demande de devis</p>
                </a>
            </div>
        </div>
    </section>

    <!--===== TOP PRODUCTS =====-->
    <section class="products__top section" id="product__top">
        <h2 class="section__title">LES PRODUITS DU MOMENT</h2>
        <a href="{{ path('product') }}" class="section__subtitle">Voir tous les produits</a>

        <div class="products__mobile-container container swiper">
            <div class="swiper-wrapper">
                {% for product in productBest %}
                    <article class="products__mobile-card swiper-slide" style="background: url({{ asset('uploads/' ~ product.illustrations[0].title) }}) no-repeat center center; background-size: cover;">
                        <a href="{{ path('product_show', {slug: product.slug}) }}" class="products__data">
                            <h1 class="products__title">{{ product.title }}</h1>
                            <h3 class="products__subtitle">{{ product.subtitle }}</h3>
                            <h3 class="products__price">{{ product.price | number_format(2, '€', '.') }}</h3>
                        </a>
                    </article>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
        </div>
        <div class="products__container container">
            <div class="products__content grid">
                {% for product in productBest %}
                    <article class="products__card" style="background: url({{ asset('uploads/' ~ product.illustrations[0].title) }}) no-repeat center center; background-size: cover;">
                        <a href="{{ path('product_show', {slug: product.slug}) }}">
                            <div class="products__data">
                                <h1 class="products__title">{{ product.title }}</h1>
                                <h3 class="products__subtitle">{{ product.subtitle }}</h3>
                                <h3 class="products__price">{{ product.price | number_format(2, '€', '.') }}</h3>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>

    <!--===== SOCIAL =====-->
    <section class="social section">
        <div class="social__bg" style="background: url({{ asset('assets/img/social.jpg') }}) no-repeat center center; background-size: cover;">
            <div class="social__data">
                <h2 class="social__title">Suivez nous !</h2>
                <p class="social__description">Restez informez de notre actualité sur les réseaux sociaux</p>
                <div class="social__buttons">

{#                    <a href="" class="social__button" target="_blank">#}
{#                        <img src="{{ asset('assets/img/social/facebook.png') }}" alt="" class="social__button-facebook">#}
{#                    </a>#}

                    <a href="https://www.instagram.com/l.a_woodfactory/" class="social__button" target="_blank">
                        <img src="{{ asset('assets/img/social/instagram.png') }}" alt="" class="social__button-instagram">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--===== NEW PRODUCTS =====-->
    <section class="products__new section" id="new">
        <h2 class="section__title">NOUVEAUX PRODUITS</h2>
        <a href="{{ path('product') }}" class="section__subtitle">Voir tous les produits</a>

        <div class="products__mobile-container container swiper">
            <div class="swiper-wrapper">
                {% for product in productNew %}
                    <article class="products__mobile-card swiper-slide" style="background: url({{ asset('uploads/' ~ product.illustrations[0].title) }}) no-repeat center center; background-size: cover;">
                        <a href="{{ path('product_show', {slug: product.slug}) }}" class="products__data">
                            <h1 class="products__title">{{ product.title }}</h1>
                            <h3 class="products__subtitle">{{ product.subtitle }}</h3>
                            <h3 class="products__price">{{ product.price | number_format(2, '€', '.') }}</h3>
                        </a>
                    </article>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
        </div>
        <div class="products__container container">
            <div class="products__content-new grid">
                {% for product in productNew %}
                    <article class="products__card products__new-card" style="background: url({{ asset('uploads/' ~ product.illustrations[0].title) }}) no-repeat center center; background-size: cover;">
                        <a href="{{ path('product_show', {slug: product.slug}) }}">
                            <div class="products__data">
                                <h1 class="products__title">{{ product.title }}</h1>
                                <h3 class="products__subtitle">{{ product.subtitle }}</h3>
                                <h3 class="products__price">{{ product.price | number_format(2, '€', '.') }}</h3>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>

    <!--===== CONTACT =====-->
    <section class="contact section" id="contact">
        <div class="contact__container grid">
            <div class="contact__subscribe">
                <h2 class="section__title">CONTACTEZ NOUS</h2>
                <p class="contact__description">Pour toutes questions ou autres, n'hésitez pas et contactez-nous dès à présent !</p>
                {% if notification %}
                    <p class="contact__description">{{ notification | raw }}</p>
                {% endif %}

                {{ form_start(form) }}
                <div class="form__inputs">
                    <div class="form__content">
                        {{ form_widget(form.name) }}
                        {{ form_label(form.name) }}
                    </div>
                    {{ form_errors(form.name) }}
                    <div class="form__content">
                        {{ form_widget(form.email) }}
                        {{ form_label(form.email) }}
                    </div>
                    {{ form_errors(form.email) }}
                    <div class="form__content form__area">
                        {{ form_widget(form.content) }}
                        {{ form_label(form.content) }}
                    </div>
                    {{ form_errors(form.content) }}
                </div>

                <button class="button">
                    Envoyer
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
