{% extends 'base.html.twig' %}

{% block title %}Vos produits aimés • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="products section section__bg" id="products">
        {% if user.likes | length == 0 %}
            <h2 class="products__section-titleEmpty">
                Vous n'avez pas encore aimé de produit...
            </h2>
        {% else %}
            <h2 class="products__section-title">
                Vos Produits Coup de Cœur
            </h2>

            <div class="products__mobile-container container swiper">
                <div class="swiper-wrapper">
                    {% for product in user.likes %}
                        <article class="products__mobile-card swiper-slide" style="background: url({{ asset('uploads/' ~ product.product.illustrations[0].title) }}) no-repeat center center; background-size: cover;">
                            <a href="{{ path('product_show', {slug: product.product.slug}) }}" class="products__data">
                                <h1 class="products__title">{{ product.product.title }}</h1>
                                <h3 class="products__subtitle">{{ product.product.subtitle }}</h3>
                                <h3 class="products__price">{{ product.product.price | number_format(2, '€', '.') }}</h3>
                            </a>
                        </article>
                    {% endfor %}
                </div>

                <div class="swiper-pagination"></div>
            </div>
            <div class="products__container container">
                <div class="products__content grid">
                    {% for product in user.likes %}
                        <article class="products__card" style="background: url({{ asset('uploads/' ~ product.product.illustrations[0].title) }}) no-repeat center center; background-size: cover;">
                            <a href="{{ path('product_show', {slug: product.product.slug}) }}">
                                <div class="products__data">
                                    <h1 class="products__title">{{ product.product.title }}</h1>
                                    <h3 class="products__subtitle">{{ product.product.subtitle }}</h3>
                                    <h3 class="products__price">{{ product.product.price | number_format(2, '€', '.') }}</h3>
                                </div>
                            </a>
                        </article>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
