{% extends 'base.html.twig' %}

{% block title %}Modifier une adresse • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="template section container" id="template">
        <div class="template__container grid">
            <div class="template__form template__form-product template__border-lt">
                {{ form_start(form) }}
                <div class="form__inputs">
                    <div class="form__content">
                        {{ form_widget(form.title) }}
                        {{ form_label(form.title) }}
                    </div>
                    <div class="form__contents">
                        <div class="form__content form__content-left">
                            {{ form_widget(form.firstname) }}
                            {{ form_label(form.firstname) }}
                        </div>
                        <div class="form__content form__content-right">
                            {{ form_widget(form.lastname) }}
                            {{ form_label(form.lastname) }}
                        </div>
                    </div>
                    <div class="form__content">
                        {{ form_widget(form.company) }}
                        {{ form_label(form.company) }}
                    </div>
                    <div class="form__content">
                        {{ form_widget(form.address) }}
                        {{ form_label(form.address) }}
                    </div>
                    <div class="form__contents">
                        <div class="form__content form__content-leftAlt">
                            {{ form_widget(form.postcode) }}
                            {{ form_label(form.postcode) }}
                        </div>
                        <div class="form__content form__content-right">
                            {{ form_widget(form.city) }}
                            {{ form_label(form.city) }}
                        </div>
                    </div>
                    <div class="form__contents">
                        <div class="form__content form__content-left">
                            {{ form_widget(form.phone) }}
                            {{ form_label(form.phone) }}
                        </div>
                        <div class="form__content form__content-rightAlt">
                            {{ form_widget(form.country) }}
                            {{ form_label(form.country) }}
                        </div>
                    </div>
                </div>

                <button class="button">
                    Modifier
                </button>
                {{ form_end(form) }}
            </div>

            <div class="template__box template__box-product template__border-rb" style="background: url({{ asset('assets/img/template/register.jpg') }}) no-repeat center center; background-size: cover">
                <div class="template__box-bg template__border-rb">
                    <h1 class="template__box-title">Modifier une adresse</h1>
                    <h3 class="template__box-subtitle">Éditer le formulaire pour modifier votre adresse</h3>
                    <a href="{{ path('account_address_delete', {addressId: address.id, id: app.user.id}) }}" class="button__delete">Supprimer</a>
                    <h3 class="template__box-subtitle">Vous avez aussi la possibilité de supprimer cette adresse. Attention! Cette action est irreversible!!</h3>
                    <span class="template__box-detail">
                        <a href="{{ path('account_address', {id: app.user.id}) }}">retour</a>
                    </span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


