{% extends 'base.html.twig' %}

{% block title %}Vos adresses • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="address section" id="address">
        <a href="{{ path('account') }}" class="account__back"><i class='bx bx-arrow-back'></i></a>
        {% if user.addresses | length == 0 %}
            <div class="address__container-empty">
                <h1>Vous n'avez pas encore renseigné d'adresse...</h1>
                <a href="{{ path('account_address_add', {id: app.user.id}) }}" class="button">Ajouter une adresse</a>
            </div>
        {% else %}
            <div class="address__container">
                <h1 class="address__container-title">Vos adresses</h1>
                <h3 class="address__container-subtitle">
                    {{ app.user.firstname }}, c'est dans cet espace que vous allez pouvoir gérer vos adresses.<br>
                    (cliquez dessus pour la modifier ou la supprimer)
                </h3>
                <div class="address__content grid">

                    <div class="address__card">
                        <a href="{{ path('account_address_add', {id: app.user.id}) }}">
                            <div class="address__data">
                                <h1 class="address__add">Ajouter une nouvelle adresse</h1>
                                <i class='bx bx-plus'></i>
                            </div>
                        </a>
                    </div>
                    {% for address in user.addresses %}
                        <div class="address__card">
                            <a href="{{ path('account_address_edit', {addressId: address.id, id: app.user.id}) }}">
                                <div class="address__data">
                                    <h1 class="address__title">{{ address.title }}</h1>
                                    <h3 class="address__address">{{ address.address }}</h3>
                                    <div class="address__code-city">
                                        <h5 class="address__postcode">{{ address.postcode }}</h5>
                                        <span> | </span>
                                        <h5 class="address__city">{{ address.city }}</h5>
                                    </div>
                                    <h5 class="address__phone">{{ address.phone }}</h5>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
