{% extends 'base.html.twig' %}

{% block title %}Vos commande • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="template section container" id="template">
        <div class="template__container grid">
            <div class="template__box template__border-lt" style="background: url({{ asset('assets/img/template/register.jpg') }}) no-repeat center center; background-size: cover">
                <div class="template__box-bg template__border-lt">
                    <h1 class="template__box-title">Votre commande</h1>
                    <h3 class="template__box-subtitle">{{ app.user.firstname }}, retrouvez les détails de votre commande n°{{ order.reference }}</h3>
                    <h3 class="template__box-other">Vous avez la possibilité d'obtenir le details de votre commande et de suivre son statut.</h3>
                    <a href="{{ path('account_order', {id: app.user.id}) }}" class="button button__alt">Retour aux commandes</a>
                </div>
            </div>

            <div class="template__form template__border-rb">
                <div class="template__order">
                    <div class="template__order-date">
                        <h3>Commande passé le :</h3>
                        <span>{{ order.createdAt | date("d/m/Y H:i", "Europe/Paris") }}</span>
                    </div>
                    <div class="template__order-reference">
                        <h3>Référence de la commande :</h3>
                        <span>{{ order.reference }}</span>
                    </div>
                    <div class="template__order-carrier">
                        <h3>Transporteur choisi :</h3>
                        <span>{{ order.carrierName }}</span>
                    </div>
                    <div class="template__order-productsContainer">
                        <h3>Produit(s) acheté(s) :</h3>
                        <div class="template__order-products">
                            {% for product in order.orderDetails %}
                                <div class="template__order-product">
                                    <h3>{{ product.product }} <span>( x {{ product.quantity }} )</span></h3>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="template__order-state">
                        <h3>Statut de la commande :</h3>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
