{% extends 'base.html.twig' %}

{% block title %}Les produits • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="products section section__bg" id="products">
        <h2 class="products__section-title">
            Nos Produits
        </h2>

        <div class="products__mobile-container container swiper">
            <div class="swiper-wrapper">
                {% for product in products %}
                    <article class="products__mobile-card swiper-slide" style="background: url({{ asset('uploads/' ~ product.illustrations[0].title) }}) no-repeat center center; background-size: cover;">
                        <a href="{{ path('product_show', {slug: product.slug}) }}" class="products__data">
                            <h1 class="products__title">{{ product.title }}</h1>
                            <h3 class="products__subtitle">{{ product.subtitle }}</h3>
                            <h3 class="products__price">{{ product.price | number_format(2, '€', '.') }}</h3>
                        </a>
                    </article>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
        </div>
        <div class="products__container container">
            <div class="products__content grid">
                {% for product in products %}
                        <article class="products__card" style="background: url({{ asset('uploads/' ~ product.illustrations[0].title) }}) no-repeat center center; background-size: cover;">
                            <a href="{{ path('product_show', {slug: product.slug}) }}">
                                <div class="products__data">
                                    <h1 class="products__title">{{ product.title }}</h1>
                                    <h3 class="products__subtitle">{{ product.subtitle }}</h3>
                                    <h3 class="products__price">{{ product.price | number_format(2, '€', '.') }}</h3>
                                </div>
                            </a>
                        </article>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
