{% extends 'base.html.twig' %}

{% block title %}{{ product.title }} • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="product section section__bg" id="product">
        <div class="product__mobile-container">
            <div class="product__mobile-content">
                <div class="product__mobile-images">
                    <img src="{{ asset('uploads/' ~ product.illustrations[0].title) }}" alt="{{ product.title }}">
                </div>
                <div class="product__mobile-infos">
                    <h3 class="product__mobile-subtitle">{{ product.subtitle }}</h3>
                    <h1 class="product__mobile-title">{{ product.title }}</h1>
                    <a href="{{ path('cart_add', {id: product.id}) }}" class="product__mobile-price">
                        {{ product.price | number_format(2, '€', '.') }}
                        <span>|</span>
                        <i class='bx bx-cart-add'></i>
                    </a>
                    <p class="product__mobile-description">{{ product.description }}</p>
                    <div class="product__mobile-dimensions">
                        {% if product.longueur and product.largeur is defined %}
                            <p class="product__mobile-dimension">{{ product.longueur }} x {{ product.largeur }} cm</p>
                            <p class="product__mobile-dimension">{{ product.poids | number_format(2, 'kg', '.') }}</p>
                        {% else %}
                            <p class="product__mobile-dimension">{{ product.poids | number_format(2, 'kg', '.') }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="product__container">
            <div class="product__content">
                <div class="product__data">
                    <div class="product__info" id="product__info">
                        <div class="product__price">
                            <a href="{{ path('cart_add', {id: product.id}) }}" class="button__icon">
                                <span>{{ product.price | number_format(2, '€', '.') }}</span>
                                <i class='bx bx-cart-add'></i>
                            </a>
                        </div>

                        {% if product.longueur and product.largeur is defined %}
                            <p class="product__dimension">
                                <i class='bx bx-ruler'></i>
                                {{ product.longueur }}
                                x
                                {{ product.largeur }}
                                cm

                                •

                                {{ product.poids | number_format(2, 'kg', '.') }}
                                <i class='bx bx-dumbbell' ></i>
                            </p>
                        {% else %}
                            <div class="product__dimension-alt">
                                <i class='bx bx-dumbbell' ></i>
                                {{ product.poids | number_format(2, 'kg', '.') }}
                            </div>
                        {% endif %}

                        <div class="product__titles">
                            <h3 class="product__intro">Découvrez<span>,</span></h3>
                            <h3 class="product__subtitle">{{ product.subtitle }}</h3>
                            <h1 class="product__title">{{ product.title }}</h1>
                        </div>

                        <div class="product__description-short" id="product__description-short">
                            <p>{{ product.description | u.truncate(100, '...') }}</p>
                        </div>

                        <a href="#" class="product__description-show" id="product__description-show" onclick="readMore()">En savoir plus...</a>
                    </div>

                    <div class="product__description " id="product__description">
                        <p>{{ product.description }}</p>
                    </div>

                </div>

                <div class="product__images">
                    <div class="product__images-container">
                        <img class="product__image" src="{{ asset('uploads/' ~ product.illustrations[0].title) }}" alt="{{ product.title }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="product__informations-container">
            <div class="product__informations">
                <div class="product__infos product__infos-one">
                    {% if product.longueur and product.largeur is defined %}
                        <p>
                            {{ product.longueur }} cm
                            <br> x <br>
                            {{ product.largeur }} cm
                        </p>
                    {% else %}
                        <img src="{{ asset('assets/img/logo.png') }}" alt="L&A WoodFactory logo">
                    {% endif %}
                </div>
                {% if product.illustrations | length > 1 %}
                    <div class="product__infos product__infos-two" style="background: url({{ asset('uploads/' ~ product.illustrations[1].title) }}) no-repeat center center; background-size: cover;"></div>
                    <div class="product__infos product__infos-three" style="background: url({{ asset('uploads/' ~ product.illustrations[0].title) }}) no-repeat center center; background-size: cover;"></div>
                {% else %}
                    <div class="product__infos product__infos-twoAlt" style="background: url({{ asset('uploads/' ~ product.illustrations[0].title) }}) no-repeat center center; background-size: cover;"></div>
                    <div class="product__infos product__infos-threeAlt"></div>
                {% endif %}
                <div class="product__infos product__infos-four">
                    <a href="{{ path('cart_add', {id: product.id}) }}">
                        <p>{{ product.price | number_format(2, '€', '.') }}</p>
                        <span>Ajouter au panier</span>
                        <i class='bx bx-cart-add'></i>
                    </a>
                </div>
                <div class="product__infos product__infos-five">
                    <span>Poids :</span>
                    <p>{{ product.poids | number_format(2, 'kg', '.') }}</p>
                </div>
                <div class="product__infos product__infos-six">
                    <div class="product__infos-interaction">
                        {% if app.user %}
                            <a href="{{ path('product_like', {slug: product.slug}) }}" class="product__infos-like">
                                {% if app.user and product.isLikedByUser(app.user) %}
                                    <i class='bx bxs-heart'></i>
                                {% else %}
                                    <i class='bx bx-heart'></i>
                                {% endif %}
                                <span>Aimer</span>
                            </a>
                        {% else %}
                            <a href="#product__comments-container" class="product__infos-likeAlt">
                                <i class='bx bx-heart'></i>
                                <span>Aimer</span>
                            </a>
                        {% endif %}
                        <a href="#product__comments-container" class="product__infos-comment">
                            <i class='bx bx-message-dots'></i>
                            <span>Donnez votre avis</span>
                        </a>
                        <div class="product__infos-share">
                            <i class='bx bx-share' ></i>
                            <span>Partager</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__modal"></div>
        <div class="product__modal-image"></div>

        <div class="product__share-modal"></div>
        <div class="product__share-option">
            <div class="product__share-container">
                <h3 class="product__share-title">Pour partager “{{ product.title }}”, <br>copier le lien et coller le où vous voulez !</h3>
                <div class="form__inputs product__share-form">
                    <div class="form__content">
                        <input type="text" id="product_share" class="form__input" value="https://lawoodfactory.fr/produit/{{ product.slug }}">
                        <label for="product_share" class="form__label">Le lien vers {{ product.title }}</label>
                    </div>
                    <button class="button product__share-button">Copier le lien</button>
                </div>
            </div>
        </div>

        <div class="product__comments-container" id="product__comments-container">
            {% if notification %}
                <h3 class="product__comments-subtitle">{{ notification }}</h3>
            {% else %}
                {% if app.user %}
                    <h3 class="product__comments-subtitle">
                        Donnez votre avis sur “{{ product.title }}”
                    </h3>
                {% else %}
                    <h3 class="product__comments-subtitle">
                        Pour aimer ou donner votre avis sur “{{ product.title }}” <br>
                        merci de <a href="{{ path('login') }}">vous connecter</a>
                    </h3>
                {% endif %}
            {% endif %}

            {% if product.comments | length >= 1 %}
                <div class="product__comments">
                    <h1 class="product__comments-title">
                        Ils vous disent tout <br>
                        sur “{{ product.title }}” !!
                    </h1>
                    <div class="product__comments-comment">
                        {% for comment in product.comments %}
                            {% if comment.active == 1 %}
                                {% if comment.parent == null %}
                                    <div class="product__comment" id="{{ comment.id }}">
                                        <p>{{ comment.content }}</p>
                                        <div class="product__comment-info">
                                            {% if app.user %}
                                                {% if comment.user.firstname == app.user.firstname %}
                                                    <p>écrit par vous, </p>
                                                {% else %}
                                                    <p>écrit par : {{ comment.user.firstname }}, </p>
                                                {% endif %}
                                            {% else %}
                                                <p>écrit par : {{ comment.user.firstname }}, </p>
                                            {% endif %}
                                            <span>le {{ comment.createdAt | date("d/m/Y H:i", "Europe/Paris") }} • </span>
                                            <a href="#product__comment-form" data-reply data-id="{{ comment.id }}">répondre</a>
                                            {% if comment.user == app.user %}
                                                <span> • </span>
                                                <a href="{{ path('product__comment_delete', {id: comment.id}) }}" class="product__comment-delete">supprimer</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% for reply in comment.replies %}
                                        {% if reply.active ==1 %}
                                            <div class="product__comment-reply" id="{{ reply.id }}">
                                                <p>{{ reply.content }}</p>
                                                <div class="product__comment-info">
                                                    {% if app.user %}
                                                        {% if reply.user.firstname == app.user.firstname %}
                                                            <p>votre réponse, </p>
                                                        {% else %}
                                                            <p>répondu par : {{ reply.user.firstname }}, </p>
                                                        {% endif %}
                                                    {% else %}
                                                        <p>répondu par : {{ reply.user.firstname }}, </p>
                                                    {% endif %}
                                                    <span>le {{ reply.createdAt | date("d/m/Y H:i", "Europe/Paris") }}</span>
                                                    {% if reply.user == app.user %}
                                                        <span> • </span>
                                                        <a href="{{ path('product__comment_delete', {id: reply.id}) }}" class="product__comment-delete">supprimer</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if app.user %}
                <div class="product__comment-add">
                    <div class="product__comment-form" id="product__comment-form">
                        {{ form_start(form) }}
                        <div class="form__inputs">
                            <div class="form__content form__area">
                                {{ form_widget(form.content, { 'value' : '' }) }}
                                {{ form_label(form.content) }}
                            </div>
                            {{ form_errors(form.content) }}
                        </div>

                        <button class="button">
                            Commenter
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block JavaScript %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // EN SAVOIR PLUS BUTTON
        function readMore() {
            let productDescriptionShort = document.getElementById("product__description-short");
            let productDescriptionShow = document.getElementById("product__description-show");
            let productDescription = document.getElementById("product__description");
            let productInfo = document.getElementById("product__info");

            productDescriptionShow.style.display = "none";
            productDescriptionShort.style.display = "none";
            productInfo.style.transform = "scale(0.7)";
            productDescription.style.height = "350px";
        }

        // MODAL ZOOM IMAGES
        const buttonOne = document.querySelectorAll('.product__images-container');
        const buttonTwo = document.querySelectorAll('.product__infos-two');
        const buttonTwoAlt = document.querySelectorAll('.product__infos-twoAlt');
        const buttonThree = document.querySelectorAll('.product__infos-three');
        const modal = document.querySelector('.product__modal');
        const image = document.querySelector('.product__modal-image');

        modal.addEventListener('click', function(){
            this.style.display = "none";
            image.style.display = "none";
        })

        buttonOne.forEach(function(btn){
            btn.addEventListener('click', function(){
                modal.style.display = "block";
                image.style.display = "block";
                showImageOne();
            })
        })

        {% if product.illustrations | length > 1 %}
            buttonTwo.forEach(function(btn){
                btn.addEventListener('click', function(){
                    modal.style.display = "block";
                    image.style.display = "block";
                    showImageTwo();
                })
            })

            function showImageTwo(){
                image.style.background = `url({{ asset('uploads/' ~ product.illustrations[1].title) }}) center / contain no-repeat`;
            }
        {% endif %}

        buttonTwoAlt.forEach(function(btn){
            btn.addEventListener('click', function(){
                modal.style.display = "block";
                image.style.display = "block";
                showImageOne();
            })
        })

        buttonThree.forEach(function(btn){
            btn.addEventListener('click', function(){
                modal.style.display = "block";
                image.style.display = "block";
                showImageOne();
            })
        })

        function showImageOne(){
            image.style.background = `url({{ asset('uploads/' ~ product.illustrations[0].title) }}) center / contain no-repeat`;
        }

        // MODAL SHARE
        const buttonShare = document.querySelectorAll('.product__infos-share');
        const modalShare = document.querySelector('.product__share-modal');
        const optionShare = document.querySelector('.product__share-option');

        modalShare.addEventListener('click', function () {
            this.style.display = "none";
            optionShare.style.display = "none";
        })

        buttonShare.forEach(function (btnShare) {
            btnShare.addEventListener('click', function () {
                modalShare.style.display = "block";
                optionShare.style.display = "block";
            })
        })

        // SHARE BUTTON
        const input = document.querySelector('input');
        const button = document.querySelector('button');

        input.addEventListener('click', function () {
            input.select()
        })

        button.addEventListener('click', function () {
            input.select();
            document.execCommand('copy');
            alert("Le lien a bien été copié ! \nIl ne vous reste plus qu'à le coller. ");
        })

        // LIKE BUTTON
        function onClickBtnLike(event) {
            event.preventDefault();

            const url = this.href;
            const icon = this.querySelector('i');

            axios.get(url).then(function () {
                if (icon.classList.contains('bxs-heart')) {
                    icon.classList.replace('bxs-heart', 'bx-heart');
                } else {
                    icon.classList.replace('bx-heart', 'bxs-heart');
                }
            }).catch(function (error) {
                if (error.response.status === 403) {
                    window.alert("Vous ne pouvez pas aimer un produit si vous n'êtes pas connecté.");
                } else {
                    window.alert("Une erreur s'est produite, merci de réessayer plus tard.");
                }
            });
        }
        document.querySelectorAll('a.product__infos-like').forEach(function (link) {
            link.addEventListener('click', onClickBtnLike);
        })

        // COMMENT REPLY
        window.onload = () => {
            document.querySelectorAll('[data-reply]').forEach(element => {
                element.addEventListener('click', function () {
                    document.querySelector('#comment_parentid').value = this.dataset.id;
                })
            });
        }
    </script>
{% endblock %}
