{% extends 'base.html.twig' %}

{% block title %}{{ product.title }} • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="product section section__bg" id="product">
        <div class="product__mobile-container">
            <div class="product__mobile-content">
                <div class="product__mobile-images">
                    <img src="{{ asset('uploads/' ~ product.illustrations[0].title) }}" alt="{{ product.title }}">
                </div>
                <div class="product__mobile-infos">
                    <h3 class="product__mobile-subtitle">{{ product.subtitle }}</h3>
                    <h1 class="product__mobile-title">{{ product.title }}</h1>
                </div>
            </div>
        </div>
        <div class="product__container">
            <div class="product__content">
                <div class="product__data">
                    <div class="product__info" id="product__info">
                        <div class="product__price">
                            <a href="" class="button__icon">
                                <span>{{ product.price | number_format(2, '€', '.') }}</span>
                                <i class='bx bx-cart-add'></i>
                            </a>
                        </div>

                        {% if product.longueur and product.largeur is defined %}
                            <p class="product__dimension">
                                <i class='bx bx-ruler'></i>
                                {{ product.longueur }}
                                x
                                {{ product.largeur }}
                                cm

                                •

                                {{ product.poids | number_format(2, 'kg', '.') }}
                                <i class='bx bx-dumbbell' ></i>
                            </p>
                        {% else %}
                            <div class="product__dimension-alt">
                                <i class='bx bx-dumbbell' ></i>
                                {{ product.poids | number_format(2, 'kg', '.') }}
                            </div>
                        {% endif %}

                        <div class="product__titles">
                            <h3 class="product__intro">Découvrez<span>,</span></h3>
                            <h3 class="product__subtitle">{{ product.subtitle }}</h3>
                            <h1 class="product__title">{{ product.title }}</h1>
                        </div>

                        <div class="product__description-short" id="product__description-short">
                            <p>{{ product.description | u.truncate(100, '...') }}</p>
                        </div>

                        <a href="#" class="product__description-show" id="product__description-show" onclick="readMore()">En savoir plus...</a>
                    </div>

                    <div class="product__description " id="product__description">
                        <p>{{ product.description }}</p>
                    </div>

                </div>

                <div class="product__images">
                    <div class="product__images-container">
                        <img class="product__image" src="{{ asset('uploads/' ~ product.illustrations[0].title) }}" alt="{{ product.title }}">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block JavaScript %}
    <script>
        function readMore() {
            let productDescriptionShort = document.getElementById("product__description-short");
            let productDescriptionShow = document.getElementById("product__description-show");
            let productDescription = document.getElementById("product__description");
            let productInfo = document.getElementById("product__info");

            productDescriptionShow.style.display = "none";
            productDescriptionShort.style.display = "none";
            productInfo.style.transform = "scale(0.7)";
            productDescription.style.height = "350px";
        }
    </script>
{% endblock %}
