{% extends 'base.html.twig' %}

{% block title %}Inscription • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="template section container" id="template">
        <div class="template__container grid">
            <div class="template__box template__border-lt" style="background: url({{ asset('assets/img/template/register.jpg') }}) no-repeat center center; background-size: cover">
                <div class="template__box-bg template__border-lt">
                    <h1 class="template__box-title">Inscription</h1>
                    <h3 class="template__box-subtitle">Inscrivez vous dès à présent et devenez notre nouveau ou nouvelle client(e) préféré(e) !</h3>

{#                    <h3 class="template__box-other">Vous avez aussi la possibilité de vous connecter avec :</h3>#}
{#                    <div class="template__box-social">#}
{#                        <a href="">#}
{#                            <i class='bx bxl-facebook'></i>#}
{#                        </a>#}
{#                        <a href="">#}
{#                            <i class='bx bxl-google' ></i>#}
{#                        </a>#}
{#                    </div>#}

                    <span class="template__box-detail">
                        Vous avez déjà un compte ? <br>
                        <a href="{{ path('login') }}">connectez-vous</a>
                    </span>
                </div>
            </div>

            <div class="template__form template__border-rb">
                {{ form_start(form) }}
                <div class="form__inputs">
                    <div class="form__content">
                        {{ form_widget(form.firstname) }}
                        {{ form_label(form.firstname) }}
                    </div>
                    {{ form_errors(form.firstname) }}
                    <div class="form__content">
                        {{ form_widget(form.lastname) }}
                        {{ form_label(form.lastname) }}
                    </div>
                    <div class="form__content">
                        {{ form_widget(form.email) }}
                        {{ form_label(form.email) }}
                    </div>
                    {{ form_errors(form.email) }}
                    <div class="form__content">
                        {{ form_widget(form.password) }}
                        <label for="register_password" class="form__label">Votre mot de passe</label>
                    </div>
                    <div class="form__content-show">
                        <a onclick="Afficher()">
                            <i class='bx bx-show' id="show-icon"></i>
                            <span id="show-text">voir le mot de passe</span>
                        </a>
                    </div>
                    {{ form_errors(form.password) }}
                    <div class="form__content-check">
                        {{ form_widget(form.cguv) }}
                        <label for="register_cguv" class="form__label-check">Merci d'accepter les <a href="{{ path('condition') }}" target="_blank">conditions générales d'utilisation et de vente</a>.</label>
                    </div>
                    {{ form_errors(form.cguv) }}
                </div>

                <button class="button">
                    Inscrivez vous
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block JavaScript %}
    <script>
        function Afficher() {
            const icon = document.getElementById("show-icon");
            const text = document.getElementById("show-text");
            let input = document.getElementById("register_password");

            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }

            if (icon.classList.contains('bx-show')) {
                icon.classList.remove('bx-show');
                icon.classList.add('bx-hide');
                text.innerHTML = "masquer le mot de passe";
            } else {
                icon.classList.remove('bx-hide');
                icon.classList.add('bx-show');
                text.innerHTML = "voir le mot de passe";
            }
        }
    </script>
{% endblock %}

