{% extends 'admin.html.twig' %}

{% block title %}Commentaires • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="account section" id="account">
        <h2 class="account__title">Les commentaires</h2>
        <a href="{{ path('admin') }}" class="account__back"><i class='bx bx-arrow-back'></i></a>
        <h3 class="account__subtitle">{{ app.user.firstname }}, c'est dans cet espace que vous allez pouvoir voir, activer, désactiver et supprimer un commentaire.</h3>

        <div class="account__comment-container">
            <ul class="account__table">
                <li class="account__table-header">
                    <div class="account__table-col account__table-commentActive">Activer</div>
                    <div class="account__table-col account__table-commentComment">Commentaire</div>
                    <div class="account__table-col account__table-commentProduct">À propos de</div>
                    <div class="account__table-col account__table-commentUser">De</div>
                    <div class="account__table-col account__table-commentTrash"> </div>
                </li>
                {% for comment in comments %}
                    <li class="account__table-row">
                        <div class="account__table-col account__table-active" data-label="Activer">
                            {% if comment.active == 0 %}
                                <a href="{{ path('admin_comment_active', {id: comment.id}) }}">
                                    <i class='bx bx-message-x' ></i>
                                </a>
                            {% else %}
                                <a href="{{ path('admin_comment_active', {id: comment.id}) }}">
                                    <i class='bx bx-message-check' ></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="account__table-col account__table-comment" data-label="Commentaire">{{ comment.content | u.truncate(32, '...') }}</div>
                        <div class="account__table-col account__table-product" data-label="À propos de"><a href="{{ path('product_show', {slug: comment.product.slug}) }}#{{ comment.id }}">{{ comment.product.title }}</a></div>
                        <div class="account__table-col account__table-user" data-label="De">{{ comment.user.firstname }} {{ comment.user.lastname }}</div>
                        <div class="account__table-col account__table-trash" data-label=" "><a href="{{ path('admin_comment_delete', {id: comment.id}) }}"><i class='bx bx-trash'></i></a></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
