{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="template section container" id="template">
        <div class="template__container grid">
            <div class="template__box template__border-lt" style="background: url({{ asset('assets/img/template/register.jpg') }}) no-repeat center center; background-size: cover">
                <div class="template__box-bg template__border-lt">
                    <h1 class="template__box-title">Oupss !</h1>
                    <h3 class="template__box-other">
                        {{ app.user.firstname }}, il semblerait que votre paiement est échoué pour votre commande <i>n°{{ order.reference }}</i>
                    </h3>
                    <h3 class="template__box-other">
                        Une confirmation d'erreur vient de vous être envoyée à l'adresse <i>{{ order.user.email }}</i>.
                    </h3>
                    <a href="{{ path('cart') }}" class="button button__alt">Réessayer le paiement</a>
                </div>
            </div>

            <div class="template__form template__border-rb">
                <div class="template__form-logo">
                    <img src="{{ asset('assets/img/logo.png') }}" alt="logo">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
