{% extends 'admin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
    <section class="account section" id="account">
        <h2 class="account__title">Vos produits</h2>
        <a href="{{ path('admin') }}" class="account__back"><i class='bx bx-arrow-back'></i></a>
        <h3 class="account__subtitle">{{ app.user.firstname }}, c'est dans cet espace que vous allez pouvoir voir, ajouter, modifier et supprimer un produit.</h3>


        <div class="account__container-mobile grid">
            <a href="{{ path('admin_product_add') }}">
                <div class="account__box" style="background: url({{ asset('assets/img/admin/product/add.jpg') }}) no-repeat center center; background-size: cover;">
                    <div class="account__link-mobile account__link-product">
                        <span class="button button__white">AJOUTER UN PRODUIT</span>
                    </div>
                </div>
            </a>
            {% for product in products %}
                <a href="{{ path('admin_product_edit', {id: product.id}) }}">
                    <div class="account__box" style="background: url({{ asset('uploads/' ~ product.illustrations[0].title) }}) no-repeat center center; background-size: cover;">
                        <div class="account__link-mobile account__link-product">
                            <span class="account__link-title">{{ product.title }}</span>
                            <span class="button button__white">MODIFIER</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="account__product-container grid">
            <div class="account__box" style="background: url({{ asset('assets/img/admin/product/add.jpg') }}) no-repeat center center; background-size: cover;">
                <div class="account__link account__link-product">
                    <a href="{{ path('admin_product_add') }}" class="button button__white">AJOUTER UN PRODUIT</a>
                </div>
            </div>
            {% for product in products %}
                <div class="account__box" style="background: url({{ asset('uploads/' ~ product.illustrations[0].title) }}) no-repeat center center; background-size: cover;">
                    <div class="account__link account__link-product">
                        <span class="account__link-title">{{ product.title }}</span>
                        <a href="{{ path('admin_product_edit', {id: product.id}) }}" class="button button__white">MODIFIER</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
