<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="La boutique d'ameublement & plus 100% fait main.">

        <!-- ===== FAVICON ===== -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('assets/img/favicon/site.webmanifest') }}">

        <!-- ===== BOXICONS ===== -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

        <title>
            Page introuvable • L&A WoodFactory
        </title>
    </head>
    <body>

        <main class="main">
            <section class="error section">
                <a href="{{ path('home') }}">
                    <div class="error__container">
                        <img src="{{ asset('assets/img/error/error.png') }}" alt="L&A WoodFactory" class="error__image">
                    </div>
                </a>
            </section>
        </main>

    </body>
</html>